
#add-budget {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#max-budgets {
    text-align: center;
    color: #AAAAAA;
    margin: 30px auto 8px auto;
    text-decoration: underline;
}

.add-budget-btn {
    color: #CCCCCC;
    width: fit-content;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}

.add-budget-btn:hover {
    color: #FFFFFF;
    font-weight: 500;
}

.add-budget-form {
    display: flex;
    flex-direction: column;
    transition: .3s;
    max-height: 50vh;
    width: 55vw;
    padding-top: 20px;
    margin: auto auto 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.form-label {
    color: #CCCCCC;
    font-size: x-large;
    width: fit-content;
    margin: 0px auto 5px auto;
}

.form-input, .submit-btn {
    max-width: fit-content;
    margin: 5px auto 5px auto;
}

.hide {
    opacity: 0;
    max-height: 0;
}

#budget-error-msg {
    color: #CCCCCC;
    margin: 5px auto 5px auto;
}













