
#add-category {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.add-category-btn {
    color: #CCCCCC;
    width: fit-content;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}

.add-category-btn:hover {
    color: #FFFFFF;
    font-weight: 500;
}

.add-category-form {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    max-height: 50vh;
    width: 55vw;
    padding-top: 20px;
    margin: auto auto 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.hide {
    opacity: 0;
    max-height: 0;
}

#category-error-msg {
    color: #CCCCCC;
    margin: 5px auto 5px auto;
}

.form-input {
    margin-bottom: 15px;
}