
.no-budgets {
    width: auto;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    color: #262626;
}

.no-budgets div {
    margin-top: 50px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
}

.budget-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    padding: 10px 35px 10px 35px;
    align-content: center;
    text-align: center;
}


