
.no-budgets {
    width: auto;
    padding: 15px;
    margin-top: 75px;
    text-align: center;
    /*color: #262626;*/
    color: #f5f9fc;
    text-decoration: underline;
}

.budget-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    padding: 10px 35px 10px 35px;
    align-content: center;
    text-align: center;
    margin-top: 25px;
}


