
.budget-item {
    display: flex;
    flex-direction: column;
    background-color: #daf0fd;
    color: #341542;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px;
    border-radius: 18px;
    width: 30%;
    min-width: 250px;
    margin: 10px;
    padding-bottom: 10px;
    transition: .1s;
    align-items: center;
}

.budget-item:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px;
}

.redirect-link {
    width: 100%;
    padding-bottom: 15px;
    cursor: pointer;
}

.budget-item h4 {
    margin: 20px 20px 30px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}