
.delete-btn {
    color: #d32f2f;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0 auto;
    width: 28px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.delete-btn:hover {
    background-color: #d32f2f13;
}

.logout-btn {
    margin: 15px 5px 35px auto;
    max-height: 0;
    max-width: 0;
}

.logout-btn div {
    color: #341542;
    font-size: large;
}

.modify-icon {
    color: #1565c0;
}

.delete-arrow-icon {
    color: #d32f2f;
}


