
.delete-btn {
    color: red;
    margin: 0 0 5px auto;
    height: 20px;
    width: 20px;
    font-size: large;
    font-weight: 600;
}

.delete-btn:hover{
    cursor: pointer;
    font-weight: 700;
}

.logout-btn {
    margin: 15px 5px 35px auto;
    max-height: 0;
    max-width: 0;
}

.logout-btn div {
    /*color: #1976d2;*/
    color: #341542;
    font-size: large;
}

.modify-category-icon {
    color: #1976d2;
}

.delete-category-icon {
    color: red;
}
