.category-info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding: 10px 35px 10px 35px;
}

.category-info .loader {
    margin: 50px 10px 50px 10px;
}

.category-info h3 {
    margin: 50px 10px 40px 10px;
    text-decoration: underline;
}

.category-info h4 {
    margin-bottom: 20px;
}

.category-items {
    margin-top: 30px;
}









/*
.no-categories {
    width: auto;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    color: #341542;
    width: 100vw;
    min-height: 100%
}
.no-categories h3 {
    margin-top: 25px;
    margin-bottom: 30px;
}

.no-categories div {
    margin-top: 50px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
}

.category-info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    padding: 10px 35px 10px 35px;
}

.category-info h3 {
    color: #341542;
    margin-top: 25px;
    margin-bottom: 35px;
    text-decoration: underline;
}

.category-info h4 {
    color: white;
    margin-bottom: 35px;
}

.category-info .add-category {
    margin-bottom: 30px;
}*/
