
.category-item {
    background-color: #daf0fd;
    color: #341542;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75vw;
    margin: 7px auto 15px auto;
    min-height: 85px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 8px;
    transition: box-shadow linear .15s;
}

.category-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px;
}

.category-name {
    width: 30%;
    padding: 3px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.category-total {
    width: 30%;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1000px) {
    .category-item {
        flex-direction: column;
        padding: 8px;
        max-width: 500px;
    }

    .category-name {
        width: 100%;
    }

    .category-total {
        width: 100%;
        
    }
}