
#dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dashboard-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #85cff9;
    width: 100vw;
    min-height: 100vh;
    padding: 5px 50px;

}

.dashboard-bg hr {
    border: 2px solid;
    width: 100vw;
    opacity: .5;
    color: #FFF;
    margin-bottom: 25px;
}

.title {
    color: #341542;
    text-align: center;
    margin: 0 auto 25vh auto;
}


.budget-count {
    color: #341542;
    text-align: center;
    margin: 0 auto 25px auto;
}





