
#dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard-bg {
    background-image: linear-gradient(to right bottom, #000000, #2a0c12, #4b0816, #6c0112, #8b0000);
    min-width: 100vw;
    max-height: auto;
    padding: 10px 50px;
}

.title {
    color: #DDDDDD;
    text-align: center;
    margin: 0 auto 25vh auto;
}

#dashboard h4 {
    color: #DDDDDD;
    text-align: center;
    margin: 0 auto 0 auto;
}

a {
    text-decoration: none;
}

.logout-btn {
    color: #CCCCCC;
    margin: 15px 0 35px auto;
    font-size: large;
    overflow: visible;
    max-height: 0;
    max-width: 0;
}

.logout-btn:hover {
    color: #FFFFFF;
    cursor: pointer;
    font-size: larger;
}

.budget-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid;
    width: 100vw;
    align-content: center;
    text-align: center;
}

.budget {
    margin: auto;
}

