
#home-default {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(252,252,252);
    font-family: 'Montserrat', sans-serif;
}

#home-default h1 {
    padding-top: 15vh;
}

#home-default button {
    margin: 100px auto 100px auto;
    padding: 10px;
    border-radius: 22px;
    font-weight: 600;
}

.finance-bg {
    background: url('../../public/Finance.jpg') no-repeat center fixed;
    min-height: 100vh;
    min-width: 100vw;
}