
.logout-btn {
    color: #CCCCCC;
    margin: 15px 0 35px auto;
    font-size: large;
    overflow: visible;
    max-height: 0;
    max-width: 0;
}

.logout-btn:hover {
    color: #FFFFFF;
    cursor: pointer;
    font-size: larger;
}
