.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 45vw;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 12px;
    padding: 25px;
}

#modify-category-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#modify-category-form h4 {
    text-decoration: underline;
}
