
.selected-budget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget-title {
    background-image: linear-gradient(to right bottom, #000000, #2a0c12, #4b0816, #6c0112, #8b0000);
    min-width: 100vw;
    min-height: 25vh;
    padding: 5px 50px 20px;
    text-align: center;
    color: #DDDDDD;
}

.return-link {
    color: gray;
    text-decoration: none;
}

.return-link:hover {
    color: #DDDDDD;
}